<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>Code Playground</title>
</head>

<body>

    <div class="game"> 

        <div class="container">
            <p id="treeText" class="blockText">wood : 5</p>
            <div id="tree" class="tree block"></div>   
        </div>

        <div class="container">
            <p id="ironText" class="blockText">iron : 5</p>
            <div id="iron" class="iron block"></div> 
        </div>

        <div class="container">
            <p id="goldText" class="blockText">gold : 5</p>
            <div id="gold" class="gold block"></div>
        </div>
        
    </div>
    <div class="wrapper"> 
        <h3>UPGRADE YOUR MINING</h3>
        <div class="craftingTable">
            <div class="container">
                <p id="toolText" class="upgradeText">tool</p>
                <div id="tool" class="tool upgrade"></div>
            </div>
            <div class="container">
                <p id="workerText" class="upgradeText">worker</p>
                <div id="worker" class="worker upgrade"></div> 
            </div>
        </div>
    </div>


</body>

</html>