<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>Code Playground</title>
</head>

<body>

    <div id="space0" class="space">
        <div id="blackhole0" class="blackhole"></div>
        <div id="player0" class="player"></div>
        <div id="star0" class="star"></div>
        <div id="star1" class="star1"></div>
        <div id="star2" class="star2"></div>
        <div id="star3" class="star3"></div>
        <div id="star4" class="star4"></div>
        <div id="star5" class="star5"></div>
        <div id="star6" class="star6"></div>
        <div id="star7" class="star7"></div>
        <div id="star8" class="star8"></div>
        <div id="star9" class="star9"></div>
        <div id="star10" class="star10"></div>
        <h1 id="message0" class="message">YOU MADE IT!</h1>
        

    </div> 

</body>

</html>