.space {
    width: 100%; 
    height: 100%;
    background-color: rgb(43, 42, 42);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    align-items: center;
    justify-content: center;
    display: flex; /* displays text in the middle of the window*/
}
.player { 
    width: 30px;
    height: 30px;
    background-color: rgb(212, 207, 195);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 80px; 
    left: 100px;
    border-radius: 50%; /*making it round*/
    /*z-index: 5;*/
}

.star { 
    width: 60px;
    height: 60px;
    background-color: rgb(251, 196, 69);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 300px; 
    left: 250px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star1 { 
    width: 100px;
    height: 100px;
    background-color: rgb(251, 196, 69);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 200px; 
    left: 600px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star2 { 
    width: 140px;
    height: 140px;
    background-color: rgb(249, 181, 21);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 450px; 
    left: 100px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star3 { 
    width: 120px;
    height: 120px;
    background-color: rgb(255, 215, 121);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 150px; 
    left: 100px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star4 { 
    width: 90px;
    height: 90px;
    background-color: rgb(245, 178, 22);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 80px; 
    left: 350px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star5 { 
    width: 90px;
    height: 90px;
    background-color: rgb(251, 196, 69);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 460px; 
    left: 330px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star6 { 
    width: 100px;
    height: 100px;
    background-color: rgb(255, 216, 124);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 300px; 
    left: 430px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star7 { 
    width: 100px;
    height: 100px;
    background-color: rgb(251, 196, 69);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 300px; 
    left: 30px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.star8 { 
    width: 80px;
    height: 80px;
    background-color: rgb(250, 204, 96);
    position: absolute; /*position absolute in div with position relative = free movements*/
    top: 20px; 
    left: 500px;
    clip-path: polygon(
        50% 0%,   /* top */
        61% 35%,  /* upper right */
        98% 35%,  /* right tip */
        68% 57%,  /* lower right inner */
        79% 91%,  /* bottom right */
        50% 70%,  /* bottom center */
        21% 91%,  /* bottom left */
        32% 57%,  /* lower left inner */
        2% 35%,   /* left tip */
        39% 35%   /* upper left */
    );
}

.blackhole { 
    width: 130px;
    height: 130px;
    background-color: rgb(0, 0, 0);
    position: absolute; /*position absolute in div with position relative = free movements*/
    bottom: 40px; /*how far from the bottom the door is*/
    right: 90px; /*how far right the door is gonna go*/
    border-radius: 50%; /*making it round*/
}

.message {
    color: rgb(255, 255, 255);
    position: relative;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
    user-select: none; /*wont select*/
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}